@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100&family=Pacifico&family=Xanh+Mono&display=swap');
#content {
    max-width: 1600px;
    margin: 0 auto
}
#images {
    display: grid;
    grid-template-columns: 30% 5% 65%;
    grid-template-rows: repeat(12, 50px);
}
.home-grid {
    display:grid;
    grid-template-columns: repeat(8, 1fr);
}
header {
    background-color:#6B9AC4;
    display: grid;
    grid-template-columns: 150px auto;
}
.logo {
    width: 80px;
    padding-top: 5px;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
nav {
    font-family: 'Xanh Mono', sans-serif;
    display: flex;
    justify-content: space-around;
}
nav a {
    text-align: center;
    color:#222E50;
    text-decoration: none;
    padding: 35px;
}
nav a:hover {
    background-color: #97D8C4;
    color:#D0ADA7;
}
.home-title {
    color:#222E50;
    font-family: 'Pacifico', 'Xanh Mono',sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
body {
    background-color: #6B9AC4;
    font-family: 'Xanh Mono', 'Josefin Slab',sans-serif;
    font-size: 1.2em;
    margin: 0;
    padding: 2em;
}
.join {
    background-color: #97D8C4;
    color:#222E50;
    text-decoration: none;
    font-family: 'Xanh Mono', 'Josefin Slab', sans-serif;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
    grid-column: 3/4;
    grid-row: 10/11;
    max-width: 75px;
    max-height: 30px;
    text-align: center;
}
#cs-p-1{
    margin: 20px auto;
    display: grid;
    grid-template-columns: 30% 70%;
    padding: 50px 50px;
    text-align: left;

}
#message1 {
    grid-column: 3/4;
    grid-row: 2/4;
    padding-top: 5px;
    font-family: 'Xanh Mono', sans-serif;
    text-decoration: bold;
}
#message2 {
    grid-column: 3/4;
    grid-row: 9/11;
    padding-top: 5px;
    font-family: 'Xanh Mono', sans-serif;
}
#cs-title1 {
    text-align: center;
    color:#222E50;
    font-family: 'Pacifico', sans-serif;
}
#cs-title2 {
    text-align: center;
    text-decoration: bold;
    font-family: 'xanh Mono', sans-serif;
    color:#222E50;
    font-size: 20px;
    grid-column: 3/4;
    grid-row: 1/2;
}
#cs-title3 {
    text-align: center;
    text-decoration: bold;
    font-family: 'Xanh Mono', sans-serif;
    color:#222E50;
    font-size: 20px;
    grid-column: 3/4;
    grid-row: 8/9;
}
#nature-img1 {
    justify-items: left;
    width: 100%;
    grid-column: 1/2;
    grid-row: 1/6;
    margin-bottom: 10px;
    border: 10px solid #D0ADA7;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
    width: 100%;
}
#nature-img2 {
    justify-items: left;
    width: 100%;
    grid-column: 1/2;
    grid-row: 7/12;
    margin-top: 10px;
    border: 10px solid #D0ADA7;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
    width: 100%;
}
body div img {
    box-sizing: border-box;
}
#instagram-icon {
    padding-top: 15px;
}
#twitter-icon {
    padding-top: 15px;
}
#fb-icon {
    padding-top: 15px;
}
footer {
    background-color:#222E50;
    color:#97D8C4;
    padding: 25px 50px;
    margin-top: 200px;
}
footer a {
    color:#97D8C4;
    text-decoration: none;
}
footer a:hover {
    color:#D0ADA7;
}
footer p {
    font-size: 1.2em;
    text-decoration: underline;
}
@media screen and (max-width: 900px) {
    .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    #background {
        display: none;
    }
    footer {
        margin-top: 25px;
    }
}
    