@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Xanh+Mono&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto
}
nav a {
    text-align: center;
    color:#222E50;
    text-decoration: none;
    padding: 35px;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
#background {
    height: 725px;
}
body {
    background-color: #6B9AC4;
    font-family: 'Xanh Mono', sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
h2{
    margin: 0;
}
header {
    background-color:#6B9AC4;
}
nav a:hover {
    background-color: #97D8C4;
    color:#D0ADA7;
}
.home-title {
    color:#222E50;
    font-family: 'Pacifico', sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
h4 {
    color:#222E50;
}
.book, .join {
    background-color: #97D8C4;
    color:#222E50;
    text-decoration: none;
    font-family: 'Xanh Mono', sans-serif;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
main section img {
    box-sizing: border-box;
}
.card-img{
    border: 10px solid #D0ADA7
}
.book:hover, .join:hover {
    background-color:#97D8C4;
    color:#D0ADA7;
}
#background {
    background-color:#6B9AC4;
}
.msg {
    background-color:#222E50;
    padding: 35px;
}
.msg h2 {
    color:#97D8C4;
}
.msg p {
    color:#97D8C4;
    font-family: 'Xanh Mono', sans-serif;
    font-size: .8em;
    padding-bottom: 15px;
}
footer {
    background-color:#222E50;
    color:#97D8C4;
    padding: 25px 50px;
    margin-top: 200px;
}
footer a {
    color:#97D8C4;
    text-decoration: none;
}
footer a:hover {
    color:#D0ADA7;
}
footer p {
    font-size: 1.2em;
    text-decoration: underline;
}
.logo {
    width: 80px;
    padding-top: 5px;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
.rivers-card {
    margin: 200px 0;
}
.camping-card {
    margin: 200px;
}
.rapids-card {
    margin: 200px;
}
#hero-img {
    width: 100%;
}
#instagram-icon {
    padding-top: 15px;
}
#twitter-icon {
    padding-top: 15px;
}
#fb-icon {
    padding-top: 15px;
}