@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Lobster+Two&display=swap');
#content {
    max-width: 1600px;
    margin: 0 auto
}
#images {
    display: grid;
    grid-template-columns: 30% 5% 1fr 1fr 1fr;
    grid-template-rows: repeat(12, 50px);
}
.home-grid {
    display:grid;
    grid-template-columns: repeat(8, 1fr);
}
header {
    background-color:white;
    display: grid;
    grid-template-columns: 150px auto;
}
.logo {
    width: 80px;
    padding-top: 5px;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
nav a {
    text-align: center;
    color:#074A35;
    text-decoration: none;
    padding: 35px;
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a:hover {
    background-color: #9FB57D;
    color:#074A35;
}
.home-title {
    color:#074A35;
    font-family: 'Lobster Two', 'Bree Serif',sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
body {
    background-color: #0B6E4F;
    font-family: 'Bree Serif',sans-serif;
    font-size: 1.2em;
    margin: 0;
    padding: 2em;
}
.join {
    background-color:#074A35;
    color:#9FB57D;
    text-decoration: none;
    font-family: 'Bree Serif', sans-serif;
    font-size: 16px;
    padding: 25px 30px;
    margin-top: 75px;
    margin-left: 70px;
    border-radius: 10px;
    grid-column: 4/5;
    grid-row: 10/11;
    max-width: 75px;
    max-height: 30px;
    text-align: center;
}
.join:hover {
    background-color:#074A35;
    color:#9FB57D;
}
#cs-p-1{
    margin: 20px auto;
    display: grid;
    grid-template-columns: 30% 70%;
    padding: 50px 50px;
    text-align: left;

}
#message1 {
    grid-column: 3/6;
    grid-row: 2/4;
    padding-top: 5px;
    font-family: 'Bree Serif', sans-serif;
    text-decoration: none;
    color:#074A35
}
#message2 {
    grid-column: 3/6;
    grid-row: 9/11;
    padding-top: 5px;
    font-family: 'Bree Serif', sans-serif;
    color:#074A35
}
#cs-title1 {
    text-align: center;
    color:#9FB57D;
    font-family: 'Lobster Two', sans-serif;
}
#cs-title2 {
    text-align: center;
    text-decoration: none;
    font-family: 'Lobster Two', sans-serif;
    color:#9FB57D;
    font-size: 20px;
    grid-column: 4/5;
    grid-row: 1/2;
}
#cs-title3 {
    text-align: center;
    text-decoration: none;
    font-family: 'Lobster Two', sans-serif;
    color:#9FB57D;
    font-size: 20px;
    grid-column: 4/5;
    grid-row: 8/9;
}
#img1 {
    justify-items: left;
    width: 100%;
    grid-column: 1/2;
    grid-row: 1/6;
    margin-bottom: 10px;
    border: 10px solid #9FB57D;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
    width: 100%;
}
#img3 {
    justify-items: left;
    width: 100%;
    grid-column: 1/2;
    grid-row: 8/13;
    margin-top: 10px;
    border: 10px solid #9FB57D;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
    width: 100%;
}
body div img {
    box-sizing: border-box;
}
#instagram-icon {
    padding-top: 15px;
}
#twitter-icon {
    padding-top: 15px;
}
#fb-icon {
    padding-top: 15px;
}
footer {
    background-color:white;
    color:#0B6E4F;
    padding: 25px 50px;
    margin-top: 200px;
}
footer a {
    color:#0B6E4F;
    text-decoration: none;
}
footer a:hover {
    color:#9FB57D;
}
footer p {
    font-size: 1.2em;
    text-decoration: underline;
}
@media screen and (max-width: 900px) {
    .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    #background {
        display: none;
    }
    footer {
        margin-top: 25px;
    }
}
    